.textarea {
  display: flex;
  justify-content: space-between;
}

#main-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 70vw;
  align-self: center;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#input {
  width: 90%;
}

#submit-button {
  height: 30px;
  width: 75px;
  background-color: gray;
  font-size: 14px;
  border-radius: 10px;
}

h1 {
  color: black;
}

#message-area {
  align-self: flex-end;
  height: 80%;
  width: 100%;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: right;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.query-box {
  align-self: flex-end; /* Push query to the right */
  max-width: 60%;
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.response-box {
  align-self: flex-start; /* Push response to the left */
  max-width: 60%;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

